# Google Cloud Credentials
keys/*.json

# Airflow Database & Logs
data/*.db
logs/*
dbt/.user.yml
dbt/target/
dbt/logs/
dags/__pycache__/

# Python Cache
__pycache__/

# VS Code Workspace Files
*.code-workspace
