# Google Cloud Credentials
keys/*.json

# Airflow Database & Logs
data/*.db
logs/*
dbt/.user.yml
dbt/target/
dags/__pycache__/
bigquery/__pycache__

# Python Cache
__pycache__/

# VS Code Workspace Files
*.code-workspace
